---
# tasks file for tomcat_config

- name: Install Java 21
  apt:
    name: openjdk-21-jdk
    state: present
    update_cache: yes
  become: true

- name: Create tomcat group
  group:
    name: tomcat
    state: present
  become: true

- name: Create tomcat user
  user:
    name: tomcat
    group: tomcat
    create_home: yes
    shell: /bin/bash
    state: present
  become: true

- name: Download Tomcat 11
  get_url:
    url: https://dlcdn.apache.org/tomcat/tomcat-11/v11.0.15/bin/apache-tomcat-11.0.15.tar.gz
    dest: /opt/apache-tomcat-11.0.15.tar.gz
  become: true

- name: Extract Tomcat (only once)
  unarchive:
    src: /opt/apache-tomcat-11.0.15.tar.gz
    dest: /opt
    remote_src: yes
    creates: /opt/apache-tomcat-11.0.15
  become: true

- name: Set Tomcat ownership
  file:
    path: /opt/apache-tomcat-11.0.15
    owner: tomcat
    group: tomcat
    recurse: yes
  become: true

- name: Ensure Tomcat scripts are executable
  file:
    path: /opt/apache-tomcat-11.0.15/bin
    mode: '0755'
    recurse: yes
  become: true

- name: Reload systemd
  command: systemctl daemon-reload
  become: true

- name: Start and enable Tomcat
  service:
    name: tomcat
    state: started
    enabled: yes
  become: true
